<table width="100%">
    <tbody>
        
        <tr>
            <td width="25%">AC Rejection:</td>
            <td width="50%">
                <select name="iBTVMacreject" id="iBTVMacreject" data-mini="false"></select>
            </td>
            <td width="25%">
                <a id="iBTVMacrejectInfo" href="#" data-role="button" data-icon="info" data-inline="true">Info</a>
            </td>
        </tr>
        <tr>
            <td width="25%">Voltage Range:</td>
            <td width="50%">
                <select name="iBTVMrange" id="iBTVMrange" data-mini="false"></select>
            </td>
            <td width="25%">
                <a id="iBTVMrangeInfo" href="#" data-role="button" data-icon="info" data-inline="true">Info</a>
            </td>
        </tr>
        
    </tbody>
</table>
