.hint {
	font-size:10px;
	color:gray;
	margin:0px;
}

.hint-under {
	font-size:10px;
	color:gray;
	margin:-5px 0px 0px 10px;
}

.nomargin {
	margin:3px 0px;
}	

.title{ font-size:20pt; }
.ui-header .ui-title {
    margin: 0 5% 0;
}

.ui-content {
	padding-left: 5px;
	padding-bottom: 5px;
    padding-top: 0px;
}

.no-complex {
	font-style: italic;
}

/*	// experimenting with changing voltage font
.volts {
	font-family:"Courier"  		
}
*/

#iBTVMbattery {
    position: absolute;
    //height: 16px;
    width: 16px;
    border: 1px solid black;
    //width: 10%;
    height: 24px;
}

#iBTVMbatteryPct {
    position: absolute;
    //height: 16px;
    width: 16px;
    background: green;
    //width: 0%;
    top: 100%;
    height: 0%;
    text-align: right;
    color: black;
    text-shadow: none;
    font-size:10pt;
}

@media not all and (min-width: 800px) {
    .hint{
//    	display: none;    	
    }
	h1 {        
        //color: red;				// red color is for testing        
        font-size: 24px;
	}
	h4 {
        //color: red;
        font-size: 12px;
	}
	.ui-btn-text, .ui-input-text, label.ui-input-text, input.ui-input-text {
        //color: red;
		font-size: 12px; 
	}	
	.volts-unit {
		margin:18px 0px 1px 0px;	// voltage contains &nbsp; so left-margin here = 0px;	
	}
	.volts-label {
		margin:18px 0px 1px 0px;	
	}
	.cycle-label {
		margin:14px 5px 0px 0px;
	}
	#iBTVMdropboxDiv, #iBTVMemailDiv {
		width:230px;
	}
}

@media all and (min-width: 800px) {
	h1 {        
        //color: blue;			// blue color is for testing
        font-size: 36px;
	}
	h4 {
        //color: blue;
        font-size: 14px;
	}	
	.ui-btn-text, .ui-input-text, label.ui-input-text, input.ui-input-text {
        //color: blue;
		font-size: 14px;
	}
	.volts-unit {
		margin:16px 0px 1px 0px;	// voltage contains &nbsp; so left-margin here = 0px;
	}
	.volts-label {
		margin:16px 0px 1px 0px;	
	}
	.cycle-label {
		margin:14px 10px 0px 0px;
	}
	#iBTVMdropboxDiv, #iBTVMemailDiv {
		width:280px;
	}
	
}

#page-iBTVM {
    padding-top: 0px;
    margin-top: 0px;
}

#RowHeight37 {
    height: 37px;
    margin-top: 0px;
}

#iBTVMvoltsOnLabel {
    margin-top: 22px;
}

#iBTVMvoltsOnUnits {
    margin-top: 22px;
}

#iBTVMbatteryPercentLabel {
    margin-top: 22px;
}

#iBTVMmeterIdLabel {
    text-align: right;
    margin: 0px;
}

#MeterIdDiv {
    margin: 0px;
}


	
	